[submodule "P11_6"]
	path = P11_6
	url = https://github.com/Rakatashii/Hortmann_Rectangle_Triangle.git
[submodule "P11_14"]
	path = P11_14
	url = https://github.com/Rakatashii/Hortmann_Rectangle_Triangle.git
